PRIVATE_KEY=
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
RHIZOME_FACTORY=
ANCHOR_1=
ANCHOR_2=
ANCHOR_1=0x...
ANCHOR_1_PRIVATE_KEY=0x...
ANCHOR_2=0x...
ANCHOR_2_PRIVATE_KEY=0x...
MEMBER_PRIVATE_KEY=0x...
RHIZOME_FACTORY=0xCafb8e54d7A86a9d37158a5069624Aaac22Eb2BF
RIO_GOVERNANCE=0x48D8896D16a7EA7ef71C5e615b1cDb44501AD610